 @media screen and (max-width:767px) {

     .bbox {
         position: relative;
         right: 100px;
     }

     p {
         display: none;
     }

     h1 {
         font-size: 50px;
         position: relative;
         bottom: 130px;
         left: 30px;
     }

     .img1 {
         height: 50px;
     }

     .img2 {
         display: none;
     }

     .img3 {
         height: 410px;
         width: 350px;
         position: relative;
         left: 30px;
         bottom: 20px;
         cursor: pointer;
     }

     .b1 {
         font-size: 26px;
         position: relative;
         right: 550px;
         top: 50px;

     }

     .b1 {
         display: none;
     }


     .b2 {
         position: relative;
         left: 30px;
         top: 30px;
         font-size: 27px;
     }


     .b3 {
         font-size: 22px;
         height: 50px;
         width: 180px;
         position: relative;
         bottom: 17px;
         left: 240px;
         border: none;
     }


 }